@import "variable.scss";

page {
  background: #ffff;
  height: 100vh;
}

.container {
  position: relative;
  background: #ffffff;
  font-size: $text-nm;
}

text,
view {
  font-family: MicroSoft Yahei;
  color: $color-normal;
}

.divider {
  border-bottom: $border-line
}

.text-large {
  font-size: $text-xl
}

.text-nm {
  font-size: $text-nm
}

.text-sm {
  font-size: $text-sm
}
