@font-face {
  font-family: 'iconfont';
  /* project id 1099829 */
  src: url('//at.alicdn.com/t/font_1099829_kwlhbyxnase.eot');
  src: url('//at.alicdn.com/t/font_1099829_kwlhbyxnase.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1099829_kwlhbyxnase.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1099829_kwlhbyxnase.woff') format('woff'),
    url('//at.alicdn.com/t/font_1099829_kwlhbyxnase.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1099829_kwlhbyxnase.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 36rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanhuan:before {
  content: "\e60d";
}

.icon-arrow-rignht::before {
  content: "\e75c";
}

.icon-zhuanhuan:before {
  content: "\e60d";
}

.icon-guanyu:before {
  content: "\e633";
}

.icon-tousu:before {
  content: "\e67b";
}

.icon-fuwutiaokuan:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e63c";
}

.icon-bus::before {
  content: "\e616";
  color: burlywood;
  font-size: 48rpx
}
